html,
body {
  background-color: #0b0d10;
  color: #b0b0b0;
  font-family: "Futura Md BT", sans-serif;
  overflow-x: hidden;
}

a {
  color: #b7410e;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: #b0b0b0;
  text-decoration: none;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  font-size: 0.875em;
  font-style: italic;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0 1em;
}

button {
  background-color: #22272e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-color: #b7410e;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #b7410e;
  padding: 20px;
  transition: all 0.5s;
}
button:hover {
  box-shadow:
    -3px 3px #b7410e,
    -6px 6px #8a310a,
    -9px 9px #5f2107;
  color: #b0b0b0;
  transform: translateY(-6px);
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 6rem !important;
  margin-top: auto;
  padding: 20px;
}

img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}

main {
  overflow: auto;
}

p {
  color: #b0b0b0;
}

pre code,
pre code.hljs {
  font-family: Hack, monospace;
  display: block;
}

code,
code.hljs {
  font-family: Hack, monospace;
  display: inline;
}

code {
  background-color: #1d2021;
  border-radius: 3px;
  color: #cdbd9b;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

/* Creating an animation for the 404 not found page. */
.animated-loading {
  animation:
    shadows 1.2s ease-in infinite,
    move 1.2s ease-in infinite;
  color: #b0b0b0;
  display: inline-block;
  font-family: "Futura Md BT", sans-serif;
  font-size: calc(2rem + 5vw);
  margin: 0;
  text-align: center;
  text-shadow:
    -3px 3px 0 #004799,
    -6px 6px 0 #002d61,
    -9px 9px #001f42,
    -12px 12px 0 #00152e;
}
@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: -3px 3px 0 #004799;
  }

  20% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61;
  }

  30% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61,
      -9px 9px #001f42;
  }

  40% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61,
      -9px 9px #001f42,
      -12px 12px 0 #00152e;
  }

  50% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61,
      -9px 9px #001f42,
      -12px 12px 0 #00152e;
  }

  60% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61,
      -9px 9px #001f42,
      -12px 12px 0 #00152e;
  }

  70% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61,
      -9px 9px #001f42;
  }

  80% {
    text-shadow:
      -3px 3px 0 #004799,
      -6px 6px 0 #002d61;
  }

  90% {
    text-shadow: -3px 3px 0 #004799;
  }

  100% {
    text-shadow: none;
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(12px, -12px);
  }

  50% {
    transform: translate(12px, -12px);
  }

  60% {
    transform: translate(12px, -12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* Style for the blog post view. */
.blog-post {
  background-color: #1c2128;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-color: #b7410e;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
}

/* Style for the topic badge in the blog post. */
.blog-post-topic-badge {
  background-color: #b7410e;
  color: #b0b0b0;
  margin-right: 4px;
}

/* Style for the blog post's preview summary. */
.blog-post-preview-summary {
  color: #929292;
  font-style: italic;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

/* Style for the centered loading component. */
.centered-loading {
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

/* Style for the clock on the root page. */
.clock {
  color: #929292;
  margin-top: 15px;
}

.color-box {
  border-color: #1a1a1a17;
  border-style: solid;
  border-width: 0.01px;
  display: inline-block;
  height: 15px;
  transition: all 0.25s linear;
  width: 50px;
  will-change: transform;
}
.color-box:hover {
  box-shadow: 0px 3px 3px #5c2107;
  transform: translateY(-3px);
}

/* CRT screen style. Courtesy of Alec Lownes. */
.crt::after {
  animation: flicker 0.15s infinite;
  background: rgba(18, 16, 16, 0.1);
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.crt::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size:
    100% 2px,
    3px 100%;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

/* Flicker animation for the CRT effect. Courtesy of Alec Lownes. */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

/* Vaporwave-esque text shadow effect. Courtesy of Alec Lownes. */
@keyframes textShadow {
  0% {
    text-shadow:
      0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  5% {
    text-shadow:
      2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  10% {
    text-shadow:
      0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  15% {
    text-shadow:
      0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  20% {
    text-shadow:
      3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  25% {
    text-shadow:
      1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  30% {
    text-shadow:
      0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  35% {
    text-shadow:
      3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  40% {
    text-shadow:
      3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  45% {
    text-shadow:
      2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  50% {
    text-shadow:
      0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  55% {
    text-shadow:
      2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  60% {
    text-shadow:
      2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  65% {
    text-shadow:
      2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  70% {
    text-shadow:
      0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  75% {
    text-shadow:
      1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  80% {
    text-shadow:
      0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  85% {
    text-shadow:
      0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  90% {
    text-shadow:
      3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  95% {
    text-shadow:
      2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  100% {
    text-shadow:
      2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
}

/* Style for the error text. */
.error-text {
  animation: textShadow 1.6s infinite;
}

/* Style for fading in something and also simulating sliding down. */
.fade-in-slide-down {
  animation: fadeInSlideDown 1s;
}

/* Setting the opacity for the fade/slide in transition. */
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Override the <small> tag's styling for the footer. */
.footer-small {
  color: #5e5e5e;
  font-style: italic;
  margin-right: 20px;
}

/* The container containing the GitHub SVG in the footer. */
.github-svg-container {
  display: inline-block;
  height: 1em;
  margin-left: 4px;
  width: 1em;
}

/* Contains the row of social media images on the about page. */
.image-container {
  align-items: center;
  display: flex;
  margin-top: 60px;
}

.image-container img {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}

/* A half-screen (left-oriented) container. */
.left-half-container {
  width: 50%;
}

/* Set the height of the Leaflet map (otherwise it does not show up). */
.map {
  height: 60vh;
}

/* Set the height of the Leaflet map (otherwise it does not show up). */
.map-container {
  border: 1px solid #b7410e;
  height: 60vh;
  margin-bottom: 1em;
}

/* The styling for the map markers' popups. */
.marker-popup {
  padding: 2px;
}

/* The styling for the data table in the popup. */
.marker-popup-table {
  margin-top: 10px;
  width: 100%;
}

/* The styling for the data table's cells in the popup. */
.marker-popup-table-cell {
  border-collapse: collapse;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}

/* Style for the container on the root page. */
.root-container {
  margin-left: 6rem !important;
  margin-right: auto;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: center;
  width: 100%;
}

/* Style for the title displayed on the root page. */
.root-title {
  margin-top: 50px;
}

/* Style for the Bootstrap Card displaying each blog post preview. */
.rusty-card {
  background-color: #22272e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-color: #b7410e;
  color: #b0b0b0;
  transition: all 0.5s;
}
.rusty-card:hover {
  box-shadow:
    -3px 3px #b7410e,
    -6px 6px #8a310a,
    -9px 9px #5f2107;
  transform: translateY(-6px);
}

/* Style for the footer in the rusty card. */
.rusty-card-footer {
  color: #3b434d;
}

/* Style for the line divider in the rusty card. */
.rusty-card-line {
  border-top: 1px solid #b7410e;
  margin-bottom: 1rem !important;
}

/* Style for the extra T H I C C line divider in the rusty card. */
.rusty-line-thicc {
  border-top: 10px solid #b7410e;
  margin-bottom: 1rem !important;
}

/* The styling for the social media icons. */
.social-icon:hover {
  transform: translateY(-6px);
}

/* Sexy style for the site's title. */
.title-text {
  animation:
    to-white-text 1.5s linear forwards,
    textShadow 1.6s infinite;
  color: #b0b0b0;
  display: inline-block;
  padding-left: 10px;
  transition: all 0.5s;
  will-change: transform;
}

/* Adding a hover animation of sorts for the site's title art. */
.title-text:hover {
  animation:
    to-black-text 0.5s linear forwards,
    textShadow 2s infinite;
  text-shadow:
    -1px 1px 0px #000000,
    -2px 2px 0px #000000,
    -3px 3px 0px #000000,
    -4px 4px 0px #000000,
    -5px 5px 0px #000000,
    -6px 6px 0px #000000,
    -7px 7px 0px #000000,
    -8px 8px 0px #000000,
    -9px 9px 0px #000000;
}

/* The transition from white to blue to black text. */
@keyframes to-black-text {
  0% {
    color: #b0b0b0;
  }
  50% {
    color: #002d61;
  }
  100% {
    color: #000000;
  }
}

/* The transition from black to blue to white text. */
@keyframes to-white-text {
  0% {
    color: #000000;
  }
  50% {
    color: #002d61;
  }
  100% {
    color: #b0b0b0;
  }
}

/* This `@media` query overrides CSS attributes at a breakpoint of 576px, which is*/
/* Bootstrap's breakpoint for mobile devices. */
@media screen and (max-width: 576px) {
  .blog-post {
    margin-left: auto;
    margin-right: auto;
  }

  .left-half-container {
    width: 100%;
  }

  .root-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem !important;
    margin-right: auto;
    margin-top: 30px;
    vertical-align: center;
    width: 100%;
  }
}
