html,
body {
  background-color: #0b0d10;
  color: #757575;
  font-family: "Futura Md BT", sans-serif;
  overflow-x: hidden;
}

a {
  color: #b7410e;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: #cfcfcf;
  text-decoration: none;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  font-size: 0.875em;
  font-style: italic;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0 1em;
}

button {
  background-color: #22272e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-color: #b7410e;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #b7410e;
  padding: 20px;
  transition: all 0.5s;
}
button:hover {
  box-shadow: -3px 3px #b7410e, -6px 6px #8a310a, -9px 9px #5f2107;
  color: #cfcfcf;
  transform: translateY(-6px);
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 20px;
}

img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}

main {
  overflow: auto;
}

p {
  color: #c4c4c4;
}

pre code,
pre code.hljs {
  font-family: Hack, monospace;
  display: block;
}

code,
code.hljs {
  font-family: Hack, monospace;
  display: inline;
}

code {
  background-color: #1d2021;
  border-radius: 3px;
  color: #cdbd9b;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

/* Style for the clock on the root page. */
.clock {
  color: #5c5c5c;
  margin-bottom: 50px;
}

/* Style for fading in something and also simulating sliding down. */
.fade-in-slide-down {
  animation: fadeInSlideDown 1s;
}

/* Setting the opacity for the fade/slide in transition. */
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Override the <small> tag's styling for the footer. */
.footer-small {
  color: #5e5e5e;
  font-style: italic;
  margin-right: 20px;
}

/* The container containing the GitHub SVG in the footer. */
.github-svg-container {
  display: inline-block;
  height: 1em;
  margin-left: 4px;
  width: 1em;
}

/* Style for the container on the root page. */
.root-container {
  margin-left: 6rem !important;
  margin-right: auto;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: center;
  width: 100%;
}

/* Style for the title displayed on the root page. */
.root-title {
  margin-top: 50px;
}

/* Sexy style for the site's title. */
.title-text {
  color: #cfcfcf;
  display: inline-block;
  padding-left: 10px;
  text-shadow: -3px 3px 0px #004799, -6px 6px 0px #002d61, -9px 9px 0px #001f42;
  transition: all 0.5s;
  will-change: transform;
}

/* Adding a hover animation of sorts for the site's title art. */
.title-text:hover {
  text-shadow: -3px 3px 0px #004799, -6px 6px 0px #002d61, -9px 9px 0px #001f42,
    -12px 12px 0px #00152e, -15px 15px 0px #000b1a;
  transform: translateY(-6px);
}

/* This `@media` query overrides CSS attributes at a breakpoint of 576px, which is*/
/* Bootstrap's breakpoint for mobile devices. */
@media screen and (max-width: 576px) {
  .root-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem !important;
    margin-right: auto;
    margin-top: 30px;
    vertical-align: center;
    width: 100%;
  }
}
